#TB_ajaxContent {
	height: 100% !important;
}

.wpcs-dialog-table {
	width: 100%;
	font-size: 13px;
}
.wpcs-dialog-table td {
	padding: 10px 0;
}
.wpcs-dialog-table .label {
	display: block;
	margin-bottom: 5px;
}
.wpcs-textarea {
	width: 100%;
}
.wpcs-lang-favorite > button {
	cursor: pointer;
}
.mce-floatpanel {
	top: 200px;
}