pre.coolsyntax {
	font-family: "Courier 10 Pitch", Courier, monospace !important;
	font-size: 80% !important;

	background: #F4F4F4 !important;
	border: 1px solid #CCC !important;
	margin-bottom: 1.5em !important;
	padding: 0.3em 0.5em !important;
	min-height: 1.5em;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
pre.coolsyntax:hover {
	cursor: not-allowed;
}
pre.pre-active {
	background-color: #ccc !important;
	border-color: #666 !important;
}